.desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid #aaa;
}

.desktop_options {
    display: flex;
    gap: 2rem;
}

.mobile {
    display: relative;
}

.menu_logo {
    border: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    padding-inline: 1rem;
}

.options {
    border: 1px solid #ccc;
    width: 10rem;
    position: absolute;
    padding-block: 1rem;
    background-color: white;
    translate: -100%;
    transition: translate .3s;
}

.options nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.options.open {
    translate: 0;
}

@media (min-width: 800px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}